*{margin:0}

/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;500;700&display=swap'); */

body{
    font-family: "Montserrat";
}

.header{
    background: #00aeac;
    z-index: 9999;
}

.barra{
    /* height: 40px; */
    background: #069291
}

.slider{
    /*#948295 #5f5f85 #646d8e*/
    background: linear-gradient(-60deg, #948295,#5f5f85,#646d8e);
   
}

.noticias .row figure img{
    width:100%;
}

.logo a{
    /* background: rgb(3, 66, 51); */
    border-radius: 10px;
}
.logo a:hover{
    background: rgb(10, 131, 103);
}

.content h2{
    font-family: 'Abril Fatface';
    font-family: Arial, Helvetica, sans-serif;
    
}



