*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Maqueta */

#contenedor{
    width:85%;
    max-width:1100px; /*ancho maximo*/
    margin:0 auto;/*atajo -> margin: top-bottom left-right*/
}
.header{
    /* todos los lementos de bloque se estiran al ancho disponible */
    background: rgb(18, 61, 204);
    color:white;
    margin-bottom: 1.5%;
    padding:2%;
    }

.navbar{
    background: rgb(4, 4, 70);
    color: white;
    /* padding:2%;  */
    text-align:end;
    }
    /* Menu principal */
    .navbar ul{
        list-style-type: none;
        }
        .navbar ul li{
            /* float:left; */
            display:inline-block;
            }
            .navbar ul li a{
                color:white;
                text-decoration: none;
                padding:15px;
                display: block;
                }
                /* pseudo-clases */
                /* :hover -> sobre elemento */
                .navbar ul li a:hover{
                    /* text-decoration:underline; */
                    background: white;
                    color:rgb(4, 4, 70);
                }
                /* :active -> clic activo o sostenido */
                .navbar ul li a:active{
                    background: rgba(255, 255, 255, 0.555);
                    border-radius:5px;
                    
                }

                .active{
                    background: red;
                    color:rgb(4, 4, 70) ;
                }
                /* 
                active segun Fede
                .active{
                    background: red;
                    color:rgb(4, 4, 70) ;
                    padding:15px;
                    display: block;
                }
                */

        /* .notaSimple:hover{
            background: red;
        } */








/* Contenido */

    /* modelo de caja
    El ancho real de los bloques -> width + padding + border
    la propiedad box-sizing arregla esta suma, liberando todo el ancho al width
    */

.principal{
    /* 80% + 4% + 4px */
    box-sizing: border-box;
    width:80%;
    padding:2%;
    /* border:2px solid; */
    background:rgb(83, 83, 83);
    float:left; 
    }

    .highlight1{
        background: white;
        padding: 15px;
        margin-bottom: 15px;
        }
        .highlight1 .txt1{
            float: left;
            width: 60%;
        }
        .highlight1 .img1{
            float: right;
            width: 40%;
            max-height: 120px;
            overflow: hidden;
        }
        .highlight1 figure img{
            width:100%;

        }
        .limpiarFloat{
            clear:both;
        }

    .simpleIzq{
        background: white;
        padding: 15px;
        width: 48%;
        float:left;
        margin-bottom: 15px;
    }
    .simpleDer{
        background: white;
        padding: 15px;
        width: 48%;
        float:right;
        margin-bottom: 15px;
    }
    .imgNota{
        width:100%;
    }

    /*Anidar Selectores -> "espacio" o >*/
    .breadcrumb{
        padding:1%;
        background: rgb(46, 133, 233);
        color:white;
        margin-bottom: 2%;
        width:60%;
    }
    .breadcrumb a{
        color:white;
        /* text-decoration-style:solid;
        text-decoration-thickness: 2px;
        text-decoration-color: red ; */
        text-decoration: underline dotted red 2px ;

    }

    .notaSimple{
        padding:1%;
        background:rgba(255,255,255,0.5);
        /*background: white;
         opacity:0.5; */
        }
        .notaSimple figure{
            border:1px solid white;
            border-radius: 20px;
            overflow:hidden;
        }
        .notaSimple figure img{
            filter:opacity(0.5)
        }
        .notaSimple h2{
            margin:20px 0;
            font-size:2em;
        }
        .notaSimple h3{
            margin:20px 0;
            font-size: 1.3em;
        }
        .notaSimple p{
            margin-bottom: 20px;
        }

        /* SASS - SCSS -> A pedido de Fede
        .notaSimple{
            color:blue;
            a { 
            }
        }
        */
    


.banner{
    width:20%;
    background:grey;
    padding:2%;
    float:right;
    box-sizing: border-box;
    height: 300px; 
}



.footer{
    clear:both;
    background: cadetblue;
    padding: 4%;
    text-align: center;
}

/* Formulario de contacto */
.principal h2{
    margin:20px 0;
}
#formContacto{
    background: rgba(255, 255, 255, 0.301);
    padding: 20px;
    border-radius:10px;
    width:70%;
    margin: 0 auto;
    }
    #formContacto input{
        width:100%;
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-radius:3px;
    }
    /* 
    Ojo con la especificidad, aplicando una clase a una etiqueta
    .anchoAuto{
        width: auto !important;
    } */

    #formContacto input[type="radio"]{
        width:auto;
        margin-right: 10px;
    }
    #formContacto input[type="checkbox"]{
        width: auto;
        margin-right: 10px;
    }

    #formContacto select{
        width:100%;
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-radius:3px;
    }
    #formContacto textarea{
        width:100%;
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-radius:3px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em; /* valor heredado*/
    }

    #formContacto button[type="submit"]{
        margin-top: 30px;
        width:80%;
        padding: 10px;
        background: rgb(15, 15, 146);
        color:white;
        border:none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transition: 1s;
    }
    #formContacto button[type="submit"]:hover{
            cursor: pointer;
            background: rgb(76, 76, 233);
        }