/* CSS Document */

body{
	text-align:center;
	padding-top:100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
}

#container{
	margin:0 auto;
	height:500px;
	width:60%;
	border:1px solid #aaa;
	background-color: #ddd;
}

#relative1{
	position:relative;
	margin:0 auto;
	height:20%;
	width:94%;
	border:1px solid #80BC3A;
	margin-bottom:20px;
	background-color: #98E53E;
	left: 50px;
	top: 50px;
}

#static2{
	position:static;
	margin:0 auto;
	height:20%;
	width:94%;
	border:1px solid #328EB2;
	margin-bottom:20px;
	background-color: #41B8E5;
}

#static3{
	position:static;
	margin:0 auto;
	height:20%;
	width:94%;
	border:1px solid #BCB43A;
	margin-bottom:20px;
	background-color: #E5DB3F;
}
