h1{
    text-align:center;
    color:rgb(117, 24, 8);
}
body{
    background:tomato;
    color:white;
}
h3{
    color:rgb(117, 24, 8)
}
p{
    font-size: 18px;
    /* color:aqua */
}
img{
    width:100%;
}