*{margin:0;padding: 0; }
html{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
}
#principal{
	float:right;
	text-align: right;
	}
	#principal #nav-list{
		list-style-type: none;
		}
		#nav-list li{
			display: inline-block;
			}
			#nav-list li a{
				background-color: salmon;
				color: white;
				text-decoration: none;
				padding: 10px;
				display: block;
				border-bottom:2px solid transparent;
			}
			#nav-list li a:hover{
				background: white;
				color: salmon;
				border-bottom: 2px solid salmon;
				box-sizing: border-box;
			}
#secc-1{
	background: green;
}
#secc-2 {
	background: salmon;
}
#secc-4 {
	background: lightblue;
}
#secc-6 {
	background: red;
}
/*section{*/
#secc-1,#secc-2,#secc-3,#secc-4,#secc-5,#secc-6{
	padding-top:50px;
	min-height: 400px;
	outline: 1px solid red;
}
.footer{
	background: lightslategray;
	padding: 5%;
	text-align: center;
	color: white;
}